<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="https://talkus.io?ref=osh">Talkus</a></h3>
  </div>
    <img class="img-responsive" src="https://talkus.io/img/talkus3.jpg" alt="Talkus main screen">
  <div class="panel-body">
    <p>With Talkus, Slack becomes the place for your team to communicate with customers, personally, on your website by live chat or by email, text messaging or phone.</p>
  </div>
</div>
<div class="panel">
  <a class="btn btn-primary btn-lg btn-block" href="https://app.talkus.io?ref=osh">Try now!</a>
</div>
<a class="panel" href="https://talkus.io/live-chats-in-slack.html?ref=osh">
  <div class="talkus-card color-1">
    <h2>Live Chats in Slack</h2>
    <p class="talkus-sh-text">Chat with your visitors, users and customers on your website in real-time without leaving Slack.</p>
    <span class="more color-1">LEARN MORE...</span>
  </div>
</a>
<a class="panel" href="https://talkus.io/emails-in-slack.html?ref=osh">
  <div class="talkus-card color-2">
    <h2>Emails in Slack</h2>
    <p class="talkus-sh-text">Receive your support@acme.com email address and manage all your customer emails in Slack.</p>
    <span class="more">LEARN MORE...</span>
  </div>
</a>
<a class="panel" href="https://talkus.io/sms-in-slack.html?ref=osh">
  <div class="talkus-card color-3">
    <h2>SMS in Slack</h2>
    <p class="talkus-sh-text">Offer your users to contact you by SMS and reply them directly in Slack.</p>
    <span class="more">LEARN MORE...</span>
  </div>
</a>
<a class="panel" href="https://talkus.io/knowledge-base.html?ref=osh">
  <div class="talkus-card color-4">
    <h2>Knowledge base / Faq</h2>
    <p class="talkus-sh-text">Help users to help themselves, quickly find what they need, and minimize their frustration.</p>
    <span class="more">LEARN MORE...</span>
  </div>
</a>
<a class="panel" href="https://talkus.io/news.html?ref=osh">
  <div class="talkus-card color-5">
    <h2>News / Changelog</h2>
    <p class="talkus-sh-text">Share with your users and the world new features you've made and other good news.</p>
    <span class="more">LEARN MORE...</span>
  </div>
</a>
<a class="panel" href="https://talkus.io/multi-languages.html?ref=osh">
  <div class="talkus-card color-6">
    <h2>Multilingual</h2>
    <p class="talkus-sh-text">Hello, Bonjour, Hallå, 你好, 今日は. Let your users interact with the languages they understand.</p>
    <span class="more">LEARN MORE...</span>
  </div>
</a>
