<article>
  <header>
    <h2><a href="https://talkus.io">Talkus</a></h2>
    <ul><li>site: <a href="https://talkus.io?ref=osh" title="Talkus • Your help desk. In Slack.">talkus.io</a></li></li></ul>
  </header>
  <p class="description">
    With Talkus, Slack becomes the place for your team to communicate with customers, personally, on your website by live chat or by email, text messaging or phone.
  </p>
  <div class="features">
    Features:
    <ul>
      <li><a href="/helpdesk.html">Helpdesk</a></li>
      <li><a href="/livechat.html">Live chat</a></li>
      <li><a href="/knowledgebase.html">Knowledge base</a></li>
    </ul>
  </div>
</article>     
